<div class="container h-100 d-flex">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-10">
      <h3>Entre com o seu usuário</h3>
      <p class="mb-4">
        Nessa pagina, você vai conseguir se logar e ter uma experiência incrivel
        com a nossa plataforma.
      </p>
      <form [formGroup]="formulario">
        <div class="form-group first">
          <label for="username">E-mail, CPF ou celular</label>
          <input
            class="form-control"
            id="email"
            type="email"
            formControlName="email"
            placeholder="name@exemple.com"
          />
        </div>
        <div class="form-group last mb-3">
          <label for="password">Senha</label>
          <input
            class="form-control"
            id="senha"
            type="password"
            formControlName="senha"
            placeholder="Senha"
          />
        </div>

        <div class="d-flex">
          <div class="mb-3 form-check row-cols-1">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Lembrar conta.
            </label>

            <span class="col"
              ><a href="#" class="forgot-pass">Esqueci a senha</a></span
            >
          </div>
        </div>
        <div class="d-grid gap-2">
          <button
            type="submit"
            value="Log In"
            [disabled]="!formulario.valid"
            class="btn btn-primary"
          >
            Entrar na minha conta
          </button>
          <button
            class="btn btn-outline-primary"
            type="button"
            href="/src/app/components/register/register.component.html"
          >
            Criar uma conta
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
