<nav>
  <ul>
    <li>
      <a href="#" class="logo">
        <img src="assets/img/logo1.png" alt="logo" />
        <span class="nav-item"> Project Auth </span>
      </a>
    </li>
  </ul>
  <li>
    <a href="#">
      <i class="fas fa-home"></i>
      <span class="nav-item">Home</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fas fa-user"></i>
      <span class="nav-item">Perfil</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fas fa-wallet"></i>
      <span class="nav-item">Carteira</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fas fa-chart-bar"></i>
      <span class="nav-item">Análises</span>
    </a>
  </li>
  <li>
    <a href="#"
      ><i class="fas fa-tasks"></i>
      <span class="nav-item">Tarefas</span>
    </a>
  </li>
  <li>
    <a href="#"
      ><i class="fas fa-cog"></i>
      <span class="nav-item">Configurações</span>
    </a>
  </li>
  <li>
    <a href="#"
      ><i class="fas fa-question-circle"></i>
      <span class="nav-item">Ajuda</span>
    </a>
  </li>
  <li>
    <a href="#" class="logout"
      ><i class="fas fa-sign-out-alt"></i>
      <span class="nav-item">Sair</span>
    </a>
  </li>
</nav>
